<%= form_with model: @user, remote: true do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <p>User: <%= full_name(@user) %></p>

          <%= form.label :role %>
          <%= form.select :role, User::ROLES.map { |r| [r.titleize, r] }, {}, class: "form-control custom-select" %>

          <%= form.label :office %>
          <%= form.select :office, User::OFFICES, {}, class: "form-control custom-select" %>
        </div>
      </div>

      <div class="modal-footer">
        <%= form.submit "Save", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', "", "data-dismiss": "modal", class: "quaternary-link pl-3" %>
      </div>
    </div>
  </div>
<% end %>
