<h1 class="py-3">All Employees</h1>

<table class="table table-hover">
  <thead class="table-header">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Office</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody class="table-body">
    <% @users.each do |u| %>
      <tr>
        <td><%= full_name(u) %></td>
        <td><%= u.email %></td>
        <td><%= u.role.titleize %></td>
        <td><%= u.office %></td>
        <td><%= link_to "Edit", edit_user_path(u), class: "secondary-link", remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog"></div>
