<div class="row mt-4">
  <div class="col">
    <div class="row justify-content-center">
      <h1><%= @survey.name %></h1>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <p><%= nomination_message(@my_nomination, @survey) %></p>
      </div>
    </div>

    <% if @survey.winner %>
      <div class="row justify-content-center mt-4">
        <div class="col text-center">
          <p><strong>MVP Winner:</strong> <%= @survey.winner.user.full_name %></p>
        </div>
      </div>
    <% end %>

    <% if current_user.admin? %>
      <div class="row justify-content-center mt-3">
        <%= link_to 'See All Nominations', survey_nominations_path(@survey), class: "secondary-link" %>
      </div>
    <% end %>

    <div class="row justify-content-center mt-3">
      <div class="col-12 text-center"><%= link_to 'Edit', edit_survey_path(@survey), class: "btn btn-primary-blue py-3 px-5" if can? :edit, @survey %></div>
      <div class="col-12 text-center py-4"><%= link_to 'Back', surveys_path, class: "btn btn-secondary" %></div>
    </div>
  </div>
</div>
