<div class="row mt-3">
  <div class="col">
    <div class="row justify-content-center">
      <h1><%= @survey.name %></h1>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <% if @my_nomination %>
          <p>You nominated <%= @my_nomination.nominee.full_name %></p>
        <% else %>
          <p>You haven't nominated anyone for this survey, <%= link_to "vote here", survey_nomination_path(@survey) %>!</p>
        <% end %>
      </div>
    </div>

    <% if current_user.admin? %>
      <div class="row justify-content-center mt-4">
        <div class="col-10 col-sm-6 col-xl-3">
          <h2>Employee Nominations</h2>
          <% @survey.grouped_nominations.each do |nominee_id, nominations| %>
            <p><%= "#{User.find(nominee_id).full_name} (#{nominations.count} nominations)" %></p>
            <ul>
              <% nominations.each do |nom| %>
                <li><%= formatted_nomination(nom) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-10 col-sm-6 col-xl-3 text-center">
          <%= link_to "Pick a Winner", survey_nominations_path(@survey), class: 'secondary-link' %>
        </div>
      </div>
    <% end %>

    <div class="row justify-content-center mt-4">
      <div class="col text-center"><%= link_to 'Edit', edit_survey_path(@survey), class: "btn btn-secondary" if can? :edit, @survey %></div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col text-center"><%= link_to 'Back', surveys_path, class: "btn btn-outline-secondary" %></div>
    </div>
  </div>
</div>
