<div class="row mt-3">
  <div class="col">
    <h1 class="text-center"><%= "#{@survey.name} Nominees" %></h1>

    <%= form_with model: @winner, local: true do |form| %>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-4">
          <div class="form-group">
            <p class="small">Select one winner from the list of nominees below.</p>
            <%= form.select :user_id, @nominees.collect { |nom| [ nom.full_name, nom.id ] }, { include_blank: 'Select a nominee for MVP' }, class: 'form-control' %>

            <div class="invalid-feedback">
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center pb-5">
        <div class="col-lg-2 col-sm-12 text-center"><%= form.submit 'Submit', class: 'btn btn-secondary' %></div>
        <div class="col-lg-2 col-sm-12 mt-sm-3 mt-3 mt-lg-0 text-center"><%= link_to 'Back', surveys_path, class: "btn btn-outline-secondary" %></div>
      </div>
    <% end %>
  </div>
</div>
