<div class="row mt-3">
  <div class="col">
    <h1 class="text-center"><%= @survey.name %></h1>

    <%= form_with model: @nomination, url: [@survey, @nomination], local: true do |form| %>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-4">
          <div class="form-group">
            <p class="small">You can nominate anyone from your office, besides yourself.</p>
            <%= form.select :nominee_id, User.nominatable(current_user).collect { |p| [ p.full_name, p.id ] }, { include_blank: 'Select employee to nominate' }, class: 'form-control' %>

            <div class="invalid-feedback">
              <span><%= @nomination.errors[:nominee_id].first %></span>
            </div>
          </div>

          <div class="form-group">
            <%= form.label "Comments (optional)" %>
            <%= form.text_area :comments, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center pb-5">
        <div class="col-12 text-center"><%= form.submit 'Vote', class: 'btn btn-primary-blue py-3 px-5' %></div>
        <div class="col-12 text-center py-3"><%= link_to 'Cancel', surveys_path, class: "tertiary-link" %></div>
      </div>
    <% end %>
  </div>
</div>
