<nav class="navbar navbar-expand-lg">
  <%= link_to(image_tag('ffi-logo.svg', height: '20', width: '144', alt: 'FFI Logo'), root_path, class: 'navbar-brand') %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mvp-survey-navbar-toggler">
    <span class="navbar-toggler-icon"><%= image_tag 'user.png' %></span>
  </button>

  <div class="collapse navbar-collapse" id="mvp-survey-navbar-toggler">
    <ul class="navbar-nav mr-auto mt-2">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Vote!", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Past MVPs", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Employees", users_path, class: "nav-link" if current_user.admin? %>
        </li>
        <li class="nav-item">
          <%= link_to "My Profile", "#", class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <span class="auth">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
      <% elsif !Rails.env.development? %>
        <%= link_to 'Login', user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-primary', id: 'button-login' %>
      <% end %>
    </span>
  </div>
</nav>
